body {font-family:Gloria Hallelujah;
      height: 100vh;
      overflow: hidden;
     }

.container-fluid {
  background-image:url(https://document-export.canva.com/DACFCdxnaBU/10/preview/0001-42.png);
  background-size:cover;
  height: 84vh;
}

.title {
  background-color:rgba(255, 173, 58, .9);
  top:0;
  left:0;
  width: 100vw;
  height: 16vh;
  position: relative;
}
     
h1 {
    font-size:3.8em;
    color:white;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
  }

#message {background-color:rgba(255, 192, 91, 0.95);
          margin-left:auto;
          margin-right:auto;
          margin-top:2em;
          height:50vh;
          text-align:center;
          border-radius:30px;
          border:solid white 5px;
}

p {position:relative;
   padding:1em;
   font-size:1.7em;
   color:white;
   }
     
.btn {margin-top:20px;
      margin-left:auto;
      margin-right:auto;
      background-color:rgb(255, 173, 58);}

@media only screen and (max-width:667px) {

  body {background-size:100%;}
  h1 {margin-top:10px;
      font-size:2em;}
  p {font-size:1.2em;}
} 